@font-face {
    font-family: 'Bebas Neue';
    src: url('/static/Fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/static/Fonts/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Avenir', sans-serif;
    background-color: #E5E6E5;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('https://storage.googleapis.com/hoppian-signature-images/background.png'), linear-gradient(to bottom, #E5E6E5, #E5E6E5);
    background-repeat: no-repeat;
    background-position: top center, top;
    background-size: cover, 100%;
}

.container {
    max-width: 920px;
    margin: 60px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 0 0 45px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 0 15px 5px #E5E6E5;
    position: relative;
    z-index: 1;
}

.logo {
    display: block;
    margin: 0 auto 30px;
    max-width: 150px;
    height: auto;
}

h1 {
    text-align: center;
    color: #DB499A;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 42px;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="file"],
input[type="url"] {
    width: calc(100% - 20px);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 5px;
}

button,
a.button {
    width: 40%;
    padding: 15px;
    background-color: #DB499A;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin: 0 auto 20px;
    text-align: center;
    text-decoration: none;
}

button:hover,
a.button:hover {
    background-color: #c43b7d;
}

.error-message {
    color: red;
    margin-bottom: 20px;
    text-align: center;
}

.signature-preview {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.banner-container img {
    vertical-align: top;
}